<%= form_for [@test, @question] do |f| %>

<%= render 'shared/errors', resource: @question %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<%= link_to 'Назад к списку вопросов', test_questions_path(@question.test) %>
