<%= form_for [@question.new_record? ? @test : nil, @question] do |f| %>

<%= render 'shared/errors', resource: @question %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<%= link_to 'Назад к тесту', test_path(@test) %>
