<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<h2>Questions:</h2>
<ul>
  <%= render @questions %>
</ul>

<%= link_to 'Редактировать', edit_test_path(@test) %>

<%= link_to "Назад к тестам", tests_path %>
