<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Register', register_path %>
      <%= link_to 'Login', login_path %>
    <% end %>
    <%= link_to 'Project Name', root_path %>
    
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
